$aside-width: 15.625rem;
$screen-px: 1.5rem;
$input-height: 2.125rem;
$border-width: 0.09375rem;
$border-radius: 0.5rem;
$background-screen: #ffffff;
$background-primary: #e7e7e7;
$background-secondary: #6198d2;
$background-danger: #851414;
$border-primary: #878787;
$border-secondary: #26496e;
$border-danger: #581313;
$border-color-whiter: #b9b9b9;
$text-color: #222222;
