@use "../base/variables";
@use "../base/mixins";
.dropdown-button {
  gap: 0.5rem;
  @include mixins.button-style;
  &__container {
    width: fit-content;
    position: relative;
  }
}

@debug "La proporción de contraste es: #{contrast-ratio(variables.$text-color,variables.$background-screen)}";

.dropdown-list {
  @include mixins.bg-default;
  position: absolute;
  padding: 0.5rem;
  margin: 0.25rem 0;
  border-color: variables.$border-primary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  &__item {
    display: flex;
    align-items: stretch;
    flex-direction: column;

    &__text {
      white-space: nowrap;
    }
    &__btn {
      @include mixins.interactive(
        variables.$text-color,
        variables.$background-screen
      );
      padding: 0.5rem;
      display: flex;
      gap: 0.625rem;
      align-items: center;
      display: flex;
    }
  }
}
