.dropdown-button {
  @include button-style;
  gap: 0.5rem;
  &__container {
    width: fit-content;
    position: relative;
  }
}
.dropdown-list {
  @include bg-default;
  position: absolute;
  padding: 0.5rem;
  margin: 0.25rem 0;
  border-color: $border-primary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  &__item {
    display: flex;
    align-items: stretch;
    flex-direction: column;

    &__text {
      white-space: nowrap;
    }
    &__btn {
      padding: 0.5rem;
      display: flex;
      gap: 0.625rem;
      align-items: center;
      display: flex;
    }
  }
}
