@use "sass:color";
@use "../base/variables";
@use "../base/mixins";
.nav {
  @include mixins.border;
  background-color: variables.$background-primary;
  border-color: variables.$border-primary;
  border-radius: unset;
  border-top: none;
  border-left: none;
  border-right: none;

  &__brand {
    color: color.adjust(variables.$background-secondary, $lightness: -30%);
    user-select: none;
  }
}
