.nav {
  @include border;
  background-color: $background-primary;
  border-color: $border-primary;
  border-radius: unset;
  border-top: none;
  border-left: none;
  border-right: none;

  &__brand {
    color: darken($color: $background-secondary, $amount: 30%);
    user-select: none;
  }
}
